<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/places/times-square.avif');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Marija<br /></h4>
                    <h6 class="description mt-0">Seeker for secret places</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-left">
                    <div>
                        <h4>24.5.2023: New York - Geeky Stuff and Architecture</h4>
                        <ul>
                            <li><a href="https://en.wikipedia.org/wiki/American_Museum_of_Natural_History">American Museum of Natural History</a></li>
                            <li><a href="https://en.wikipedia.org" ></a>Intrepid Sea, Air & Space Museum</li>
                            <li><a href="https://en.wikipedia.org" ></a>Time Square</li>
                            <li><a href="https://en.wikipedia.org" ></a>Landmarks: Empire State Building, Chrysler Building, and Flatiron Building</li>
                            <li><a href="https://en.wikipedia.org" ></a>Food in Chinatown and Little Italy</li>
                        </ul>
                    </div>
                    <div>
                        <h4>25.5.2023: New York City - History and Food</h4>
                        <ul>
                            <li><a href="https://en.wikipedia.org" ></a>Statue of Liberty and Ellis Island</li>
                            <li><a href="https://en.wikipedia.org" ></a>9/11 Memorial & Museum</li>
                            <li><a href="https://en.wikipedia.org" ></a>Greenwich Village</li>
                            <li><a href="https://en.wikipedia.org" ></a>Metropolitan Museum of Art (Met Museum)</li>
                            <li><a href="https://en.wikipedia.org" ></a>Dinner at Williamsburg</li>
                        </ul>
                    </div>
                    <div>
                        <h4>26.5.2023: New York City - Sports and Food</h4>
                        <ul>
                            <li><a href="https://en.wikipedia.org" ></a>Yankee Stadium or Madison Square Garden</li>
                            <li><a href="https://en.wikipedia.org" ></a>Bronx Zoo</li>
                            <li><a href="https://en.wikipedia.org" ></a>TwoBros $1 Pizza</li>
                            <li><a href="https://en.wikipedia.org" ></a>Central Park</li>
                            <li><a href="https://en.wikipedia.org" ></a>Chelsea market</li>
                        </ul>
                    </div>
                    <div>
                        <h4>27.5.2023: Philadelphia - History and Food</h4>
                        <ul>
                            <li><a href="https://en.wikipedia.org" ></a>Independence National Historical Park</li>
                            <li><a href="https://en.wikipedia.org" ></a>Philadelphia Museum of Art</li>
                            <li><a href="https://en.wikipedia.org" ></a>Philly cheesesteak</li>
                            <li><a href="https://en.wikipedia.org" ></a>Eastern State Penitentiary</li>
                            <li><a href="https://en.wikipedia.org" ></a>Reading Terminal Market</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br/>
            <div class="container">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Show me friends">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>History and art enthusiast</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <a class="nav-link" href="#pk"><i class="nc-icon nc-email-85" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Beer lover</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <a class="nav-link" href="#pk"><i class="nc-icon nc-email-85" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
