<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h3>How are you feeling today?</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input id="feeling" type="text" class="form-control" placeholder="Write the first thing that cross your mind." (keyup.enter)="onSubmit($event)">
                </div>
            </div>
        </div>
        <div class="row" *ngIf="this.showRecommendation">
            <div class="col-sm-12">
                <p>{{this.recommend}}</p>
            </div>
        </div>
    </div>
</div>
